/* Add this to your CSS file, e.g., styles.css */

body{
  font-family: Arial, Helvetica, sans-serif;
}

.main-heading{
  text-align: center;
}

.container {
  max-width: 600px;
  margin: 50px auto;
  padding: 20px;
  padding-right: 40px;
  background-color: #f9f9f9;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.form {
  display: flex;
  flex-direction: column;
}

.form-group {
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

input:focus {
  outline: none;
  border-color: #007BFF;
}

button {
  padding: 10px 20px;
  border: none;
  background-color: #007BFF;
  color: white;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
  width: 100%;
}

button:hover {
  background-color: #0056b3;
}

/* blogListStyles.css */

.blog-list-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #f9f9f9;
}

.blog-item {
  padding: 15px;
  margin-bottom: 15px;
  border: 1px solid #ddd;
  border-radius: 6px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.blog-item h3 {
  margin: 0 0 10px;
  font-size: 1.5em;
  color: #333;
}

.blog-item p {
  margin: 0;
  font-size: 1em;
  color: #666;
}

.empty-message {
  text-align: center;
  font-size: 1.5em;
  color: #999;
}
